
h3 {
    font-family: algerian;
}
textarea {
    width: 100%;
    outline: none; 
    border-radius: 30px !important; 
    height: 225px;
}
.form-control:focus {
    background-color: rgb(206, 204, 103);
}
#span {
    font-size: 25px !important; 
}
.btn {
    margin: 5px;
}
#min, #sec, #m-sec {
    font-size: 30px;
}
.p-3
{
    background-color: rgb(68, 57, 43);
}
.card{
    background-color: rgba(0, 0, 255, 0.231) !important;
    border-radius: 30px!important;
    box-shadow: 0 0 10px;
}
.card-footer
{
    background-color: rgba(133, 102, 102, 0.422);
    border-radius: 0 0 30px 30px !important;
}
hr{
    color:red;
}
