.base
{
 width:250px;
 height:auto;
}
.gride
{
    width:150px;
    height:auto; 
}
.forms
{
    width:300px;
    height:auto; 
}
.button
{
    width:180px;
    height:auto; 
}
.tables
{
    width:150px;
    height:auto; 
}
.menus
{
    width:250px;
    height:auto; 
}
.img
{
    top:20px;
    height:100px;
    width:100px;
}
.hello
{
text-align:center;
color:#A4ABAE;
font-size:40px;
font-family: Angsana New;
}
.hp
{
    text-align:center;
    background:#DBDBDB;
}
.button1
{
    text-align:center;
    background: blue;
    font-size:30px;
    height:auto;
    width:auto;
}
